* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  color: var(--Text-secondary, #000);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  h1 {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
  }
}

header {
  background-color: #bcbfc3;
}

h2 {
  flex: 1 0 0;
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.col-10 {
  display: flex;
}

footer {
  display: flex;
  width: 393px;
  padding: 20px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background: var(--Background-components, #bcbfc3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  color: var(--Text-secondary, #000);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding-right: 70%;
}
