.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: flex;
  align-items: end;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: #ccc;
  color: var(--Text-secondary, #000);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.burger-img {
  padding-top: 10%;
}
