.card-flex {
  display: flex;
}

.card_title-panteon {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.card-blue {
  color: var(--Background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: var(--Blue, #279ef8);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.card-yellow {
  color: var(--Background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: var(--Yellow, #f8af27);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.card-green {
  color: var(--Background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: var(--Green, #12965d);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.card-red {
  color: var(--Background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border-radius: 8px;
  background: var(--Red, #f82727);
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.card-arrow-white {
  stroke: white;
  padding-left: 50%;
}

.card-arrow-white-yellow {
  stroke: white;
  padding-left: 40%;
}

.card-popular-pantheons-color {
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.card-Athéna {
  display: flex;
  height: 216px;
  padding: 12px 0;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid var(--Blue, #279ef8);
  background: var(--Background, #fff);
  height: 200px;
  padding: 0px 0px;
}

.card-athena-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
}

.card-name-info-txt {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.card-little-icon {
  margin-left: 20%;
}

.card-flex {
  margin: 0%;
}

.card-name-info-txt {
  flex: 1 0 0;
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 2px solid var(--Blue, #279ef8);
  background: var(--Background, #fff);
}

.card-subtitle {
  display: flex;
  margin-left: -30%;
}

.card-little-icon {
  display: flex;
  flex-shrink: 0;
  margin-left: 0%;
}
