html {
  --color-bg: #bcbfc3;
  --color-text-main: #515050;
  --color-text-secondary: #000000;
}

.header {
  background-color: var(
    --color-bg
  ); /* au lieu de "background-color: #bcbfc3;" */
}

html {
  --color-bg: #bcbfc3;
  --color-text-main: #515050;
  --color-text-secondary: #000000;
}

html[data-theme="dark"] {
  --color-bg: #696a6c;
  --color-text-main: #f7f6f6;
  --color-text-secondary: #ffffff;
}

html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}
